<div class="reservations-page page">
  <div class="container">
    <div class="content">
      <button mat-raised-button color="primary" routerLink="/reservation/add" class="btn-reserve">Dodaj rezerwację</button>
      <div class="reservations-list">
        <div class="reservation-item" *ngFor="let reservation of reservations">
          <div class="reservation-details">
            <h2>{{ reservation.type }}</h2>
            <p>Data: {{ reservation.date | date:'mediumDate' }}</p>
            <p>Godzina: {{ reservation.time }}</p>
            <p>Adres: {{ reservation.address }}</p>
            <p>Koszt: {{ reservation.cost | currency:'PLN' }}</p>
          </div>
          <div class="reservation-actions">
            <img src="../../../../assets/images/logo.png" alt="Logo" class="reservation-logo">
            <button mat-raised-button color="primary" class="btn-edit" (click)="editReservation(reservation.id)">Edytuj rezerwację</button>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
