<div class="reservation-page page">
  <div class="container">
    <h2 class="reservation-header header">ZAREZERWUJ</h2>

      <form [formGroup]="reservationForm" (ngSubmit)="onReserve()" class="content-wrapper">
        <div class="left-panel">
          <mat-form-field appearance="fill" class="input-field">
            <mat-label>Imię i nazwisko</mat-label>
            <input matInput formControlName="fullName">
          </mat-form-field>
          <mat-form-field appearance="fill" class="input-field">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="fill" class="input-field">
            <mat-label>Telefon</mat-label>
            <input matInput formControlName="phone">
          </mat-form-field>
          <mat-form-field appearance="fill" class="input-field">
            <mat-label>Notatka</mat-label>
            <textarea matInput formControlName="note"></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill" class="reservation-type-field">
            <mat-label>Wybierz typ rezerwacji</mat-label>
            <mat-select formControlName="reservationType">
              <mat-option *ngFor="let item of reservationItems" [value]="item">
                {{ item.title }} ({{ item.duration }})
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button class="btn" color="primary" type="submit">Rezerwuj</button>
        </div>

        <div class="right-panel">
          <mat-card>
            <mat-calendar [selected]="reservationForm.controls['reservationDate'].value" 
                          (selectedChange)="reservationForm.controls['reservationDate'].setValue($event)">
            </mat-calendar>
          </mat-card>
        </div>
      </form>
  </div>
</div>
