$primary-color: #333333;
$secondary-color: #666;
$third-color: #9f8b0b;
$font-stack: Roboto, "Helvetica Neue", sans-serif;
$font-size: 16px;
$spacing: 20px;
$menu-height: 70px;
$menu-background: rgba(0, 0, 0, 0.8); 