<mat-toolbar color="primary">
    <mat-toolbar-row>
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="Logo" class="logo" />
      </a>
      <span class="spacer"></span>
      <a mat-button routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Strona Główna</a>
      <a mat-button routerLink="/portfolio" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Portfolio</a>
      <a mat-button routerLink="/equipment" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Wyposażenie</a>
      <a mat-button routerLink="/offer" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Oferta</a>
      <a mat-button routerLink="/contact" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Kontakt</a>
      <a mat-button routerLink="/reservation" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Rezerwacja</a>
      <a mat-button routerLink="/login" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Logowanie</a>
    </mat-toolbar-row>
</mat-toolbar>
