<div class="hello-page page">
  <div class="container">
    <h2 class="hello-header header">Siemanko!</h2>
    <div class="content">
      <img src="../../../../assets/images/logo.png" alt="Logo" class="logo">
      <p class="welcome-text">
        <span *ngIf="user">{{user.firstName}}! </span>Witaj w SoundS, Twojej przestrzeni do tworzenia i odkrywania.
        Tutaj możesz zarządzać swoimi rezerwacjami, oraz mieć dostęp do swoich nagrań. Gotowy, aby zainspirować
        świat swoją twórczością? Zarezerwuj swoją następną sesję i zacznij tworzyć
        magię już dziś!
      </p>
      <button mat-raised-button color="primary" routerLink="/dashboard/reservation" class="btn-reserve">Zarezerwuj</button>
    </div>
  </div>
</div>
