<h2 mat-dialog-title>Utwórz nowe nagranie</h2>
<mat-dialog-content>
  <form [formGroup]="newRecordingForm">
    <mat-form-field appearance="fill">
      <mat-label>Tytuł</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Opis</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Anuluj</button>
  <button mat-button (click)="onCreate()" [disabled]="newRecordingForm.invalid">Utwórz</button>
</mat-dialog-actions>
